.buttons {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #232628;
  margin-right: 10px;

}

.buttons a:hover {
  background-color: #E3E6E8;
  border-radius: 15px;
}

.wrapper-buttons {
  display: flex;
  flex: 1;
  text-decoration: none;
  list-style-type: none;
}

.buttons a {
  padding: 5px 10px;
  text-decoration: none;
}

ul.wrapper-buttons li a {
  color: #838587;
}





