.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 100px;
  margin-right: 20px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 3px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.logoPng {
  width: 120px;
}